### 직방의 원룸 매물정보 수집
- 절차
    - 동이름으로 > 위도, 경도 수집
    - 위도,경도로 > geohash 변환 (geohash 값이란 위도 경도를 범위로 변환해주는?)
    - geohash(영역) > 매물 아이디 수집
    - 매물 아이디 > 매물 정보 수집

In [3]:
import requests
import pandas as pd
import geohash2

In [2]:
# !pip install geohash2

Collecting geohash2
  Downloading geohash2-1.1.tar.gz (15 kB)
Requirement already satisfied: docutils>=0.3 in c:\users\user\anaconda3\lib\site-packages (from geohash2) (0.17)
Building wheels for collected packages: geohash2
  Building wheel for geohash2 (setup.py): started
  Building wheel for geohash2 (setup.py): finished with status 'done'
  Created wheel for geohash2: filename=geohash2-1.1-py3-none-any.whl size=15544 sha256=0c698f6462f6e1b2a0598c5906aa38a54823a01e8be92ddc3b6abd6a035fe414
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\2d\0c\66\dcd768c9e7c26fc81ec59bfe24af9d780fc9dbdf7f90b0cf00
Successfully built geohash2
Installing collected packages: geohash2
Successfully installed geohash2-1.1

In [ ]:
# 1. 동 이름 > 위도, 경도

In [4]:
# 인코딩 되어있는 한글을 url 인코딩 사이트에서 번역하여 한글로 디코딩하여 url 진행
addr = '강남구 역삼동'
url = f'https://apis.zigbang.com/v2/search?leaseYn=N&q={addr}&serviceType=원룸'
response = requests.get(url)
response

In [5]:
response.text

'{"success":true,"code":"200","items":[{"id":3755,"type":"address","name":"역삼동","hint":"","description":"서울시 강남구 역삼동","lat":37.495365142822266,"lng":127.03306579589844,"zoom":5,"polygon":[],"_score":null,"_source":{"name_length":3,"local1":"서울시","local2":"강남구","local3":"역삼동","web_level":15,"web_lat":37.495365142822266,"web_lng":127.03306579589844,"app_level":15,"app_lat":37.495365142822266,"app_lng":127.03306579589844,"법정동코드":"1168010100"},"zoom_level":{"google":15,"daum":4},"zoom_level_v2":{"app":5,"web":4}}],"next":null,"limit":0}'

In [10]:
response.json()
response.json()['items'][0]
data = response.json()['items'][0]
lat, lng = data['lat'], data['lng']
lat, lng

(37.495365142822266, 127.03306579589844)

In [ ]:
# 2. 위도, 경도 > geohash

In [12]:
#help 메서드 or shift+tap으로 사용방법 확인 가능
geohash = geohash2.encode(lat,lng,precision=5)
geohash

'wydm6'

In [ ]:
# 3. geohash > 매물 아이디

In [14]:
# 역슬래쉬 \ 사용하여 코드가 길때 개행문자로 사용 가능
url = f'https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang\
&geohash={geohash}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=전세|월세&service_type_eq=원룸'
url

'https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang&geohash=wydm6&needHasNoFiltered=true&rent_gteq=0&sales_type_in=전세|월세&service_type_eq=원룸'

In [15]:
response = requests.get(url)
response

In [19]:
items = response.json()['items']
items[:2]

[{'lat': 37.485141261794524, 'lng': 127.01296495741643, 'item_id': 32819635},
 {'lat': 37.485627384450254, 'lng': 127.0136283391101, 'item_id': 32838798}]

In [22]:
ids = [item['item_id'] for item in items]
ids[:2]

[32819635, 32838798]

In [ ]:
# 4. 매물 아이디 > 매물 정보

In [24]:
#post 방식으로 되어있을때는 payload를 넣어주어야 한다 > 개발자도구 payload 확인
# post 방식에서는 url에 데이터를 따로 보내지 않기 때문에 params에 데이터를 설정해야 한다.

url = 'https://apis.zigbang.com/v2/items/list'
params = {
    'domain' : 'zigbang',
    'withCoalition' : 'true',
    'item_ids': ids[:900]
}

response = requests.post(url,params)
response

In [25]:
items = response.json()['items']
columns = ['item_id','sales_type','deposit','rent','size_m2','address1','manage_cost']
df = pd.DataFrame(items)[columns]
df.tail(2)

      item_id sales_type  deposit  rent  size_m2     address1 manage_cost
898  32844154         월세      100   100    29.75  서울시 강남구 역삼동           9
899  32656329         전세    24000     0    59.50  서울시 강남구 역삼동          10

In [26]:
# column수가 많으면 중간에 ...이 나와 열 정보가 끊긴다 >> 이를 해결하기 위해
# pd.options.display.max_columns = 50 으로 개수를 번경 가능
# pd.options.display.max_raw = 50 으로 개수를 번경 가능

### 함수로 만들기

In [27]:
def oneroom(addr):
    url = f'https://apis.zigbang.com/v2/search?leaseYn=N&q={addr}&serviceType=원룸'
    response = requests.get(url)
    data = response.json()['items'][0]
    lat, lng = data['lat'], data['lng']
    
    geohash = geohash2.encode(lat,lng,precision=5)
    
    url = f'https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang\
&geohash={geohash}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=전세|월세&service_type_eq=원룸'
    
    response = requests.get(url)
    items = response.json()['items']
    ids = [item['item_id'] for item in items]
    
    url = 'https://apis.zigbang.com/v2/items/list'
    params = {
        'domain' : 'zigbang',
        'withCoalition' : 'true',
        'item_ids': ids[:900]
    }

    response = requests.post(url,params)
    
    items = response.json()['items']
    columns = ['item_id','sales_type','deposit','rent','size_m2','address1','manage_cost']
    return pd.DataFrame(items)[columns]

In [28]:
addr = '마포구 합정동'
df= oneroom(addr)

      item_id sales_type  deposit  rent  size_m2        address1 manage_cost
0    32864713         전세     9000     0    21.49  서울시 영등포구 당산동4가          13
1    32694522         전세     9000     0    19.83  서울시 영등포구 당산동4가          13
2    32822043         전세     9000     0    16.53  서울시 영등포구 당산동4가          13
3    32827028         전세     9000     0    19.83  서울시 영등포구 당산동4가          13
4    32856780         전세     7000     0    19.83  서울시 영등포구 당산동4가          13
..        ...        ...      ...   ...      ...             ...         ...
739  32831032         월세      200    65    18.18     서울시 마포구 성산동           7
740  32775788         전세    16500     0    19.83     서울시 마포구 성산동           1
741  32589981         전세    43000     0    49.00      서울시 마포구 중동           7
742  32862490         전세    43000     0    31.74      서울시 마포구 중동           5
743  32866975         월세     3000    90    49.59      서울시 마포구 중동           2

[744 rows x 7 columns]

In [31]:
df_filtered = df[df["address1"].str.contains(addr)].reset_index(drop=True)
df_filtered

Empty DataFrame
Columns: [item_id, sales_type, deposit, rent, size_m2, address1, manage_cost]
Index: []

In [32]:
# 모듈 파일 만들기
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 7C6C-FC35

 C:\Users\User\Desktop\웹 크롤링\Code\day2 디렉터리

2022-08-04  오후 12:18    <DIR>          .
2022-08-04  오후 12:18    <DIR>          ..
2022-08-04  오전 11:08    <DIR>          .ipynb_checkpoints
2022-08-04  오후 12:12            77,025 01_naver_api.ipynb
2022-08-04  오후 12:18            20,561 02_zigbang.ipynb
               2개 파일              97,586 바이트
               3개 디렉터리  117,483,012,096 바이트 남음

In [33]:
%%writefile zigbang.py
import requests
import pandas as pd
import geohash2

def oneroom(addr):
    url = f'https://apis.zigbang.com/v2/search?leaseYn=N&q={addr}&serviceType=원룸'
    response = requests.get(url)
    data = response.json()['items'][0]
    lat, lng = data['lat'], data['lng']
    
    geohash = geohash2.encode(lat,lng,precision=5)
    
    url = f'https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang\
&geohash={geohash}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=전세|월세&service_type_eq=원룸'
    
    response = requests.get(url)
    items = response.json()['items']
    ids = [item['item_id'] for item in items]
    
    url = 'https://apis.zigbang.com/v2/items/list'
    params = {
        'domain' : 'zigbang',
        'withCoalition' : 'true',
        'item_ids': ids[:900]
    }

    response = requests.post(url,params)
    
    items = response.json()['items']
    columns = ['item_id','sales_type','deposit','rent','size_m2','address1','manage_cost']
    return pd.DataFrame(items)[columns]

Writing zigbang.py

In [34]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 7C6C-FC35

 C:\Users\User\Desktop\웹 크롤링\Code\day2 디렉터리

2022-08-04  오후 01:33    <DIR>          .
2022-08-04  오후 01:33    <DIR>          ..
2022-08-04  오전 11:08    <DIR>          .ipynb_checkpoints
2022-08-04  오후 12:12            77,025 01_naver_api.ipynb
2022-08-04  오후 12:18            20,561 02_zigbang.ipynb
2022-08-04  오후 01:33             1,052 zigbang.py
               3개 파일              98,638 바이트
               3개 디렉터리  117,482,680,320 바이트 남음

In [35]:
import zigbang as zb

In [36]:
df = zb.oneroom("망원동")
df.tail(2)

      item_id sales_type  deposit  rent  size_m2    address1 manage_cost
744  32862490         전세    43000     0    31.74  서울시 마포구 중동           5
745  32866975         월세     3000    90    49.59  서울시 마포구 중동           2

In [37]:
# 선언되어 있는 변수 초기화 매직커멘드
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [38]:
# 선언되어 있는 변수 확인
%whos

Interactive namespace is empty.