### 네이버 증권 kospi 일별 지수 크롤링

In [1]:
import pandas as pd
import requests

In [2]:
url = 'https://m.stock.naver.com/api/index/KOSPI/price?pageSize=10&page=2'

In [3]:
response = requests.get(url)
response

In [4]:
response.text

'[{"localTradedAt":"2022-07-22","closePrice":"2,393.14","compareToPreviousClosePrice":"-16.02","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.66","openPrice":"2,405.37","highPrice":"2,417.91","lowPrice":"2,391.48"},{"localTradedAt":"2022-07-21","closePrice":"2,409.16","compareToPreviousClosePrice":"22.31","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.93","openPrice":"2,387.91","highPrice":"2,411.96","lowPrice":"2,387.91"},{"localTradedAt":"2022-07-20","closePrice":"2,386.85","compareToPreviousClosePrice":"15.88","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.67","openPrice":"2,406.29","highPrice":"2,410.06","lowPrice":"2,382.65"},{"localTradedAt":"2022-07-19","closePrice":"2,370.97","compareToPreviousClosePrice":"-4.28","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.18","openPrice":"2,367.52","highPrice":"2,372.74","lowPrice":"2,359.59"},{"localTradedAt":"2022-07-18","closePrice":"2,375.25","compareToPreviousClosePrice":"44.27","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"1.90","openPrice":"2,350.48","highPrice":"2,376.50","lowPrice":"2,344.12"},{"localTradedAt":"2022-07-15","closePrice":"2,330.98","compareToPreviousClosePrice":"8.66","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.37","openPrice":"2,335.12","highPrice":"2,337.30","lowPrice":"2,293.45"},{"localTradedAt":"2022-07-14","closePrice":"2,322.32","compareToPreviousClosePrice":"-6.29","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.27","openPrice":"2,316.41","highPrice":"2,338.29","lowPrice":"2,307.69"},{"localTradedAt":"2022-07-13","closePrice":"2,328.61","compareToPreviousClosePrice":"10.85","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.47","openPrice":"2,324.45","highPrice":"2,341.19","lowPrice":"2,312.49"},{"localTradedAt":"2022-07-12","closePrice":"2,317.76","compareToPreviousClosePrice":"-22.51","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.96","openPrice":"2,330.88","highPrice":"2,333.02","lowPrice":"2,303.74"},{"localTradedAt":"2022-07-11","closePrice":"2,340.27","compareToPreviousClosePrice":"-10.34","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-0.44","openPrice":"2,357.43","highPrice":"2,363.26","lowPrice":"2,337.82"}]'

In [6]:
result = response.json()
result

[{'localTradedAt': '2022-07-22',
  'closePrice': '2,393.14',
  'compareToPreviousClosePrice': '-16.02',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.66',
  'openPrice': '2,405.37',
  'highPrice': '2,417.91',
  'lowPrice': '2,391.48'},
 {'localTradedAt': '2022-07-21',
  'closePrice': '2,409.16',
  'compareToPreviousClosePrice': '22.31',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '0.93',
  'openPrice': '2,387.91',
  'highPrice': '2,411.96',
  'lowPrice': '2,387.91'},
 {'localTradedAt': '2022-07-20',
  'closePrice': '2,386.85',
  'compareToPreviousClosePrice': '15.88',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '0.67',
  'openPrice': '2,406.29',
  'highPrice': '2,410.06',
  'lowPrice': '2,382.65'},
 {'localTradedAt': '2022-07-19',
  'closePrice': '2,370.97',
  'compareToPreviousClosePrice': '-4.28',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.18',
  'openPrice': '2,367.52',
  'highPrice': '2,372.74',
  'lowPrice': '2,359.59'},
 {'localTradedAt': '2022-07-18',
  'closePrice': '2,375.25',
  'compareToPreviousClosePrice': '44.27',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '1.90',
  'openPrice': '2,350.48',
  'highPrice': '2,376.50',
  'lowPrice': '2,344.12'},
 {'localTradedAt': '2022-07-15',
  'closePrice': '2,330.98',
  'compareToPreviousClosePrice': '8.66',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '0.37',
  'openPrice': '2,335.12',
  'highPrice': '2,337.30',
  'lowPrice': '2,293.45'},
 {'localTradedAt': '2022-07-14',
  'closePrice': '2,322.32',
  'compareToPreviousClosePrice': '-6.29',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.27',
  'openPrice': '2,316.41',
  'highPrice': '2,338.29',
  'lowPrice': '2,307.69'},
 {'localTradedAt': '2022-07-13',
  'closePrice': '2,328.61',
  'compareToPreviousClosePrice': '10.85',
  'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
  'fluctuationsRatio': '0.47',
  'openPrice': '2,324.45',
  'highPrice': '2,341.19',
  'lowPrice': '2,312.49'},
 {'localTradedAt': '2022-07-12',
  'closePrice': '2,317.76',
  'compareToPreviousClosePrice': '-22.51',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.96',
  'openPrice': '2,330.88',
  'highPrice': '2,333.02',
  'lowPrice': '2,303.74'},
 {'localTradedAt': '2022-07-11',
  'closePrice': '2,340.27',
  'compareToPreviousClosePrice': '-10.34',
  'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
  'fluctuationsRatio': '-0.44',
  'openPrice': '2,357.43',
  'highPrice': '2,363.26',
  'lowPrice': '2,337.82'}]

In [7]:
len(result)

10

In [9]:
date = [element['localTradedAt'] for element in result]
date

['2022-07-22',
 '2022-07-21',
 '2022-07-20',
 '2022-07-19',
 '2022-07-18',
 '2022-07-15',
 '2022-07-14',
 '2022-07-13',
 '2022-07-12',
 '2022-07-11']

In [10]:
price = [element['closePrice'] for element in result]
price

['2,393.14',
 '2,409.16',
 '2,386.85',
 '2,370.97',
 '2,375.25',
 '2,330.98',
 '2,322.32',
 '2,328.61',
 '2,317.76',
 '2,340.27']

In [23]:
df['date'] = date

In [24]:
df['price'] = price

In [25]:
df

            0        date     price
0  2022-07-22  2022-07-22  2,393.14
1  2022-07-21  2022-07-21  2,409.16
2  2022-07-20  2022-07-20  2,386.85
3  2022-07-19  2022-07-19  2,370.97
4  2022-07-18  2022-07-18  2,375.25
5  2022-07-15  2022-07-15  2,330.98
6  2022-07-14  2022-07-14  2,322.32
7  2022-07-13  2022-07-13  2,328.61
8  2022-07-12  2022-07-12  2,317.76
9  2022-07-11  2022-07-11  2,340.27

In [26]:
df.drop(0, axis = 1, inplace = True)

In [27]:
df

         date     price
0  2022-07-22  2,393.14
1  2022-07-21  2,409.16
2  2022-07-20  2,386.85
3  2022-07-19  2,370.97
4  2022-07-18  2,375.25
5  2022-07-15  2,330.98
6  2022-07-14  2,322.32
7  2022-07-13  2,328.61
8  2022-07-12  2,317.76
9  2022-07-11  2,340.27